# dependencies
node_modules/
package-lock.json

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Misc
nul
NUL
*.tsbuildinfo